# caches
/.fastf1cache/
pycache/

# .env files
*.env

#vscode settings
.vscode/

# --------------------------------------
#python
#python virtual environments
venv/
#python cache
__pycache__/

#test file/folders
test.py
.pytest_cache/