# caches
/.fastf1cache/
pycache/

# .env files
*.env

#vscode settings
.vscode/

# --------------------------------------
#cose python
#python virtual environments
venv/
#python cache
__pycache__/

#test python file
test.py